#COMMANDS.CFG - SAMPLE COMMAND DEFINITIONS FOR NAGIOS 3.0.1
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example command definitions
#        that you can reference in host, service, and contact definitions.
#       
#        You don't need to keep commands in a separate file from your other
#        object definitions.  This has been done just to make things easier to
#        understand.
#
###############################################################################

# Personalizaçs do Laboratorio Itautec
define command{
        command_name    check_nrpe
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ 
        }


define command{
        command_name    check_nrpe_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -n
        }

define command{
        command_name    check_remote_usrlocal
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_usrlocal
        }

define command{
        command_name    check_remote_usrlocal_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_usrlocal -n
        }


define command{
        command_name    check_remote_vol
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_vol
        }


define command{
        command_name    check_remote_vol_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_vol -n
        }



#######

#define command{
#        command_name    check_remote_home
#        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_home
#        }

define command{
        command_name    check_remote_home_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_home -n
        }

#define command{
#        command_name    check_remote_mailq
#        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_mailq
#        }

define command{
        command_name    check_remote_swap
        command_line    $USER1$/check_swap -w 20% -c 10%
        }


define command{
        command_name    check_remote_swap_n
        command_line    $USER1$/check_swap -w 20% -c 10%
        }

define command{
        command_name    check_remote_mem.sh
        command_line    $USER1$/check_mem.sh -w 80% -c 90%
        }

define command{
        command_name    check_remote_mem.sh_n
        command_line    $USER1$/check_mem.sh -w 80% -c 90% -n
        }

define command{
        command_name    check_remote_mailq
        command_line    $USER1$/check_mailq -w 150 -c 250
        }

define command{
        command_name    check_remote_raiz
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_root
        }

define command{
        command_name    check_remote_raiz_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_root -n
        }



define command{
        command_name    check_remote_home
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_root
        }

#define command{
#        command_name    check_remote_home2
#        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_home2
#        }


define command{
        command_name    check_remote_backup
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_backup
        }


define command{
        command_name    check_remote_backup_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_backup -n
        }

define command{
        command_name    check_remote_var
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_var
        }


define command{
        command_name    check_remote_var_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_disk_var -n
        }

define command{
        command_name    check_remote_tmp
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_tmp
        }

define command{
        command_name    check_remote_hd_backup
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_backup
        }

define command{
        command_name    check_remote_smtp
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_smtp
        }

define command{
        command_name    check_remote_smtp_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_smtp -n
        }



define command{
        command_name    check_remote_ftp
        command_line    $USER1$/check_ftp -H $HOSTADDRESS$ $ARG1$
        }

define command{
        command_name    check_remote_users
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_users
        }

define command{
        command_name    check_remote_users_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_users -n
        }


define command{
        command_name    check_remote_load
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_load
        }

define command{
        command_name    check_remote_load_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_load -n
        }


define command{
        command_name    check_remote_zombie_procs
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_zombie_procs
        }


define command{
        command_name    check_remote_zombie_procs_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_zombie_procs -n
        }

define command{
        command_name    check_remote_procs
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_total_procs
        }

define command{
        command_name    check_remote_procs_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_total_procs -n
        }


define command{
        command_name    check_remote_mysql
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_mysql
        }


define command{
        command_name    check_remote_mysql_n
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_mysql -n
        }

define command{
        command_name    check_remote_postgres
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_postgres
        }


define command{
        command_name    check_stream_alive
        command_line    $USER1$/check_stream -u http:\/\/67.228.135.41:8006 -d /home/dump/stream -s 15000
        }

define command{
        command_name    check_remote_nginx
        command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_nginx
        }


# SSH Personalizado pela porta do lab

# Checagem dos endereç de DNS em Burlemarx
define command{
	command_name	check_dns_www
	command_line	$USER1$/check_dns www.itautec.unicap.br -s 192.168.20.1	
	}
define command{
	command_name	check_dns_intranet
	command_line	$USER1$/check_dns intranet.itautec.unicap.br	-s 192.168.20.1
	}
define command{
	command_name	check_dns_webmail
	command_line	$USER1$/check_dns webmail.itautec.unicap.br	-s 192.168.20.1
	}
define command{
	command_name	check_dns_bugzilla
	command_line	$USER1$/check_dns bugzilla.itautec.unicap.br	-s 192.168.20.1
	}
define command{
	command_name	check_dns_mail
	command_line	$USER1$/check_dns mail.itautec.unicap.br	-s 192.168.20.1
	}
define command{
	command_name	check_dns_ftp
	command_line	$USER1$/check_dns ftp.itautec.unicap.br	-s 192.168.20.1
	}
define command{
	command_name	check_dns_extranet
	command_line	$USER1$/check_dns www.itautec.unicap.br	-s 192.168.20.1
	}
define command{
	command_name	check_dns_cvs
	command_line	$USER1$/check_dns cvs.itautec.unicap.br	-s 192.168.20.1
	}

define command{
	command_name	check_dns_uol
	command_line	$USER1$/check_dns www.uol.com.br	-s 192.168.20.1
	}


# Checagem dos endereç de DNS em Brennand
define command{
	command_name	check_dns_www_brennand
	command_line	$USER1$/check_dns www.itautec.unicap.br -s 192.168.10.200
	}
define command{
	command_name	check_dns_intranet_brennand
	command_line	$USER1$/check_dns intranet.itautec.unicap.br	-s 192.168.10.200
	}
define command{
	command_name	check_dns_webmail_brennand
	command_line	$USER1$/check_dns webmail.itautec.unicap.br	-s 192.168.10.200
	}
define command{
	command_name	check_dns_bugzilla_brennand
	command_line	$USER1$/check_dns bugzilla.itautec.unicap.br	-s 192.168.10.200
	}
define command{
	command_name	check_dns_mail_brennand
	command_line	$USER1$/check_dns mail.itautec.unicap.br	-s 192.168.10.200
	}
define command{
	command_name	check_dns_ftp_brennand
	command_line	$USER1$/check_dns ftp.itautec.unicap.br	-s 192.168.10.200
	}
define command{
	command_name	check_dns_extranet_brennand
	command_line	$USER1$/check_dns www.itautec.unicap.br	-s 192.168.10.200
	}
define command{
	command_name	check_dns_cvs_brennand
	command_line	$USER1$/check_dns cvs.itautec.unicap.br -s 192.168.10.200
	}

define command{
	command_name	check_dns_uol_brennand
	command_line	$USER1$/check_dns www.uol.com.br	-s 192.168.10.200
	}



# Defincoes para o servidor de email
define command{
	command_name	check_pop_itautec
	command_line	$USER1$/check_pop -H $HOSTADDRESS$
	}

define command{
	command_name	check_smtp_itautec
	command_line	$USER1$/check_smtp -H $HOSTADDRESS$
	}
define command{
	command_name	check_imap_itautec
	command_line	$USER1$/check_imap -H $HOSTADDRESS$
	}
define command{
	command_name	check_http_caribe
	command_line	$USER1$/check_http -H 192.168.20.22
}	

# Definicoes para o servidor CVS
define command{
	command_name	check_cvs
	command_line	$USER1$/check_tcp -H 192.168.10.202 -p 2401
}

define command{
        command_name    check_tcp2
        command_line    $USER1$/check_tcp -H $ARG1$ -p $ARG2$
}

# Processos Zombie de Americo
define command{
        command_name    check_procs_zombie
        command_line    $USER1$/check_procs -w 5 -c 10 -s Z
}

################################################################################
#
# SAMPLE NOTIFICATION COMMANDS
#
# These are some example notification commands.  They may or may not work on
# your system without modification.  As an example, some systems will require 
# you to use "/usr/bin/mailx" instead of "/usr/bin/mail" in the commands below.
#
################################################################################


# 'notify-host-by-email' command definition
define command{
	command_name	notify-host-by-email
	command_line	/usr/bin/printf "%b" "***** Nagios *****\n\nNotification Type: $NOTIFICATIONTYPE$\nHost: $HOSTNAME$\nState: $HOSTSTATE$\nAddress: $HOSTADDRESS$\nInfo: $HOSTOUTPUT$\n\nDate/Time: $LONGDATETIME$\n" | /usr/bin/mail -s "** $NOTIFICATIONTYPE$ Host Alert: $HOSTNAME$ is $HOSTSTATE$ **" $CONTACTEMAIL$
	}

# 'notify-service-by-email' command definition
define command{
	command_name	notify-service-by-email
	command_line	/usr/bin/printf "%b" "***** Nagios *****\n\nNotification Type: $NOTIFICATIONTYPE$\n\nService: $SERVICEDESC$\nHost: $HOSTALIAS$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\n\nDate/Time: $LONGDATETIME$\n\nAdditional Info:\n\n$SERVICEOUTPUT$" | /usr/bin/mail -s "** $NOTIFICATIONTYPE$ Service Alert: $HOSTALIAS$/$SERVICEDESC$ is $SERVICESTATE$ **" $CONTACTEMAIL$
	}





################################################################################
#
# SAMPLE HOST CHECK COMMANDS
#
################################################################################


# This command checks to see if a host is "alive" by pinging it
# The check must result in a 100% packet loss or 5 second (5000ms) round trip 
# average time to produce a critical error.
# Note: Five ICMP echo packets are sent (determined by the '-p 5' argument)

# 'check-host-alive' command definition
define command{
        command_name    check-host-alive
        command_line    $USER1$/check_ping -H $HOSTADDRESS$ -w 3000.0,80% -c 5000.0,100% -p 5
        }




################################################################################
#
# SAMPLE SERVICE CHECK COMMANDS
#
# These are some example service check commands.  They may or may not work on
# your system, as they must be modified for your plugins.  See the HTML 
# documentation on the plugins for examples of how to configure command definitions.
#
# NOTE:  The following 'check_local_...' functions are designed to monitor
#        various metrics on the host that Nagios is running on (i.e. this one).
################################################################################



# 'check_local_disk' command definition
define command{
        command_name    check_local_disk
        command_line    $USER1$/check_disk -w $ARG1$ -c $ARG2$ -p $ARG3$
        }


# 'check_local_load' command definition
define command{
        command_name    check_local_load
        command_line    $USER1$/check_load -w $ARG1$ -c $ARG2$
        }


# 'check_local_procs' command definition
define command{
        command_name    check_local_procs
        command_line    $USER1$/check_procs -w $ARG1$ -c $ARG2$ -s $ARG3$
        }


# 'check_local_users' command definition
define command{
        command_name    check_local_users
        command_line    $USER1$/check_users -w $ARG1$ -c $ARG2$
        }


# 'check_local_swap' command definition
define command{
	command_name	check_local_swap
	command_line	$USER1$/check_swap -w $ARG1$ -c $ARG2$
	}


# 'check_local_mrtgtraf' command definition
define command{
	command_name	check_local_mrtgtraf
	command_line	$USER1$/check_mrtgtraf -F $ARG1$ -a $ARG2$ -w $ARG3$ -c $ARG4$ -e $ARG5$
	}

# 'check_ports' command para verificar as portas abertas
define command{
	command_name check_ports
	command_line $USER1$/check_nrpe --timeout 300 -H 200.147.22.111 -c check_ports -a $HOSTADDRESS$
	}

define command{
        command_name check_ports218
        command_line $USER1$/check_nrpe --timeout 300 -H 200.147.22.111 -c check_ports -a 177.52.17.233
        }


################################################################################
# NOTE:  The following 'check_...' commands are used to monitor services on
#        both local and remote hosts.
################################################################################

# 'check_ftp' command definition
define command{
        command_name    check_ftp
        command_line    $USER1$/check_ftp -H $HOSTADDRESS$ $ARG1$
        }

define command{
	command_name check_sendmail
	command_line $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_sendmail
	}


# 'check_hpjd' command definition
define command{
        command_name    check_hpjd
        command_line    $USER1$/check_hpjd -H $HOSTADDRESS$ $ARG1$
        }


# 'check_snmp' command definition
define command{
        command_name    check_snmp
        command_line    $USER1$/check_snmp -H $HOSTADDRESS$ $ARG1$
        }


# 'check_http' command definition
define command{
        command_name    check_http
        command_line    $USER1$/check_http -I $HOSTADDRESS$ $ARG1$
        }

define command{
        command_name    check_pagealive
        command_line    $USER1$/check_http -H $ARG1$ -u $ARG2$ --timeout 60 -s \</html\>
        }

define command{
        command_name    check_pagealive_port
        command_line    $USER1$/check_http -u $ARG1$ -p $ARG2$ --timeout 60 -s \</html\> 
        }

#SEE
define command{
	command_name	check_website
	command_line 	$USER1$/check_website $ARG1$
	}

define command{
        command_name    check_website_ssl
        command_line    $USER1$/check_website -s $ARG1$
        }


# 'check_ssh' command definition
define command{
	command_name	check_ssh
	command_line	$USER1$/check_ssh -H $HOSTADDRESS$
	}

define command{
        command_name    check_ssh_n
        command_line    $USER1$/check_ssh -H $HOSTADDRESS$ -n
        }

define command{
        command_name    check_ssh_p
        command_line    $USER1$/check_ssh -H $HOSTADDRESS$ -p 5022
        }



# 'check_dhcp' command definition
define command{
	command_name	check_dhcp
	command_line	$USER1$/check_dhcp $ARG1$
	}


# 'check_ping' command definition
define command{
        command_name    check_ping
        command_line    $USER1$/check_ping -H $HOSTADDRESS$ -w $ARG1$ -c $ARG2$ -p 5
        }


# 'check_pop' command definition
define command{
        command_name    check_pop
        command_line    $USER1$/check_pop -H $HOSTADDRESS$ $ARG1$
        }


# 'check_imap' command definition
define command{
        command_name    check_imap
        command_line    $USER1$/check_imap -H $HOSTADDRESS$ $ARG1$
        }


# 'check_smtp' command definition
define command{
        command_name    check_smtp
        command_line    $USER1$/check_smtp -H $HOSTADDRESS$ $ARG1$
        }

# 'check_smtp' command definition
define command{
        command_name    check_mem.sh
        command_line    $USER1$/check_mem.sh -H $HOSTADDRESS$ $ARG1$ $ARG2$
        }

# 'check_tcp' command definition
define command{
	command_name	check_tcp
	command_line	$USER1$/check_tcp -H $HOSTADDRESS$ -p $ARG1$ $ARG2$
	}


# 'check_udp' command definition
define command{
	command_name	check_udp
	command_line	$USER1$/check_udp -H $HOSTADDRESS$ -p $ARG1$ $ARG2$
	}


# 'check_nt' command definition
define command{
	command_name	check_nt
	command_line	$USER1$/check_nt -H $HOSTADDRESS$ -p 12489 -v $ARG1$ $ARG2$
	}



################################################################################
#
# SAMPLE PERFORMANCE DATA COMMANDS
#
# These are sample performance data commands that can be used to send performance
# data output to two text files (one for hosts, another for services).  If you
# plan on simply writing performance data out to a file, consider using the 
# host_perfdata_file and service_perfdata_file options in the main config file.
#
################################################################################


# 'process-host-perfdata' command definition
define command{
	command_name	process-host-perfdata
	command_line	/usr/bin/printf "%b" "$LASTHOSTCHECK$\t$HOSTNAME$\t$HOSTSTATE$\t$HOSTATTEMPT$\t$HOSTSTATETYPE$\t$HOSTEXECUTIONTIME$\t$HOSTOUTPUT$\t$HOSTPERFDATA$\n" >> /usr/local/nagios/var/host-perfdata.out
	}


# 'process-service-perfdata' command definition
define command{
	command_name	process-service-perfdata
	command_line	/usr/bin/printf "%b" "$LASTSERVICECHECK$\t$HOSTNAME$\t$SERVICEDESC$\t$SERVICESTATE$\t$SERVICEATTEMPT$\t$SERVICESTATETYPE$\t$SERVICEEXECUTIONTIME$\t$SERVICELATENCY$\t$SERVICEOUTPUT$\t$SERVICEPERFDATA$\n" >> /usr/local/nagios/var/service-perfdata.out
	}




#define command{
#command_name check_mysql_health
#command_line $USER1$/check_mysql_health -H $ARG4$ --username $ARG1$ --password $ARG2$ --port $ARG5$ --mode $ARG3$
#}








# command 'check_mysql_health'
 define command{
 command_name                   check_mysql_health
 command_line                   $USER1$/check_mysql_health --hostname $HOSTADDRESS$ --user $ARG1$ --password $ARG2$ --mode $ARG3$
 }
# command 'check_mysql_health_tresholds'
 define command{
 command_name                   check_mysql_health_tresholds
 command_line                   $USER1$/custom/check_mysql_health -H $HOSTADDRESS$ --user $ARG1$ -password $ARG2$ --mode $ARG3$ --warning $ARG4$ --critical $ARG5$
 }

