###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
# Last Modified: 05-31-2007
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               localhost
        alias                   localhost
        address                 127.0.0.1
        }



###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup{
        hostgroup_name  linux-servers ; The name of the hostgroup
        alias           Linux Servers ; Long name of the group
        members         localhost     ; Comma separated list of hosts that belong to this group
        }



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Particao /
        check_command                   check_remote_raiz
        notifications_enabled           1
        max_check_attempts              5
        check_interval                  5
        retry_interval                  3
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Swap
        check_command                   check_remote_swap
        notifications_enabled           1
        max_check_attempts              5
        check_interval                  5
        retry_interval                  3
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Usuarios Logados
        check_command                   check_remote_users
        notifications_enabled           1
        max_check_attempts              5
        check_interval                  5
        retry_interval                  3
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r
}


define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             SMTP
        check_command                   check_remote_smtp
        first_notification_delay        1
        max_check_attempts              10
        check_interval                  3
        retry_interval                  1
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r

}


define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Processos
        check_command                   check_remote_procs
        notifications_enabled           1
        max_check_attempts              5
        check_interval                  5
        retry_interval                  3
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Processos Zombie
        check_command                   check_remote_zombie_procs
        notifications_enabled           1
        max_check_attempts              5
        check_interval                  5
        retry_interval                  3
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r

        }


# Define a service to check the load on the generic machine.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Carga Total
        check_command                   check_remote_load
        notifications_enabled           1
        max_check_attempts              5
        check_interval                  5
        retry_interval                  3
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r

 }



# Define a service to check SSH on the generic machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             SSH
        check_command                   check_ssh
        first_notification_delay        1
        max_check_attempts              10
        check_interval                  3
        retry_interval                  1
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r

 }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             MySQL
        check_command                   check_remote_mysql
        notifications_enabled           1
        max_check_attempts              5
        check_interval                  3
        retry_interval                  1
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             HTTP
        check_command                   check_http
        notifications_enabled           1
        max_check_attempts              5
        check_interval                  3
        retry_interval                  1
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        notifications_enabled           1
        max_check_attempts              5
        check_interval                  5
        retry_interval                  3
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       localhost
        service_description             Memoria RAM
        check_command                   check_remote_mem.sh
        notifications_enabled           1
        max_check_attempts              5
        check_interval                  5
        retry_interval                  3
        check_period                    24x7
        notification_interval           30
        notification_options            w,c,r
        }

